<div class="starfall">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>
<div class="mt-4 mb-4">

    <h3 class="text-primary">Create Anime</h3>

    <form method="POST" action="/movies/store" enctype="multipart/form-data">
        <small> * Please enter all of the following fields:</small>
        <hr>
        <div class="form-group">
            <input type="text" size="30" class="form-control" id="name" name="name" placeholder=" * Name"
                required="required" autocomplete="off" autofocus>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="author" name="author" placeholder=" * Author" autocomplete="off"
                required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="runtime" name="runtime" placeholder=" * Runtime" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="evaluate" name="evaluate" placeholder=" * Evaluate" min="0"
                max="10" step="0.1" required>
        </div>
        {{!-- <input list="browsers" name="browser" multiple>
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist> --}}

        {{!-- <div class="radio-check">
            <input type="radio" name="rating" value="1"> 1 star
            <input type="radio" name="rating" value="2"> 2 stars
            <input type="radio" name="rating" value="3"> 3 stars
        </div> --}}
        <hr>
        <div class="form-group">
            <label for="note"><strong>Note:</strong></label>
            <select class="form-control" name="note">
                <option value="P">P</option>
                <option value="C13">C13</option>
                <option value="C16">C16</option>
                <option value="C18">C18</option>
            </select>
        </div>
        <div class="form-group">
            <label for="genre"><strong>Genre:</strong>  (Hold the Ctrl key and tick multiple times)</label>
            <select class="genre form-control" name="genre" multiple>
                <option value="action">Action</option>
                <option value="drama">Drama</option>
                <option value="comedy">Comedy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="released"><strong>Released:</strong></label>
            <input type="date" id="released" class="form-control" name="released" required>
        </div>
        <div class="form-group">
            <label for="image"><strong>Image:</strong></label>
            <input type="file" id="image" class="form-short-control" accept=".jpg, .png" name="image" required />
        </div>
        <div class="form-group">
            <textarea type="text" class="col-12" name="description" id="description" placeholder=" * Description"
                rows="8"></textarea>
        </div>

        <div class="">
            <button type="submit" class="btn btn-primary" name="submit">Create</button>
            <input type="reset" value="reset" id="btn-reset" class="reset btn btn-primary ml-3">
        </div>
    </form>
</div>