<div class="mt-4 mb-4">
    <h3>Edit Movie</h3>

    <form class="mt-4" method="POST" action="/movies/{{movie._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên phim</label>
            <input type="text" class="form-control" value="{{movie.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{movie.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">link video</label>
            <input type="text" class="form-control" value="{{movie.videoId}}" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Xác Nhận Chỉnh Sửa</button>
    </form>
</div>