<!-- Your website content here -->

<!-- Footer -->
<footer class="bg-dark text-light py-3 mt-5">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4">
        <h3>About Anime Cinema</h3>
        <p>Anime Cinema is a website that provides high-quality anime movies and TV shows for its viewers. Our library
          includes various genres such as action, romance, drama, and more.</p>
      </div>
      <div class="col-md-4">
        <h3>Useful Links</h3>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-use">Terms of Use</a></li>
          <li><a href="/conditions">Conditions of exchange and return of tickets</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Connect with Us</h3>
        <ul class="list-unstyled">

          <li><a href="https://www.facebook.com/tuanfitfo">Facebook</a></li>
          <li><a href="https://twitter.com/PhanVanTuan0209?t=qVy1ejWEWt-vK_vxvP98mw&s=09">Twitter</a></li>
          <li><a href="http://www.instagram.com/phanvantuan0209">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <h5 class="m-auto" >© 2021 Anime Cinema</h5>
      <p> - All rights reserved. The content and all information on this website, including but not
        limited to images, videos, audio, text, graphics, logos, icons, products and services are owned by Anime Cinema
        and related partners. Using the information on this website without our written consent is a violation of
        copyright and applicable laws. Any copyright infringement will be handled according to the law.</p>
    </div>
  </div>
</footer>