{{!-- <nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@Binary configuration parameters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">@Binary configuration parameters</h4>
  <p>node-sass supports different configuration parameters to change settings related to the sass binary such as binary name, binary path or alternative download path. Following parameters are supported by node-sass:</p>
  <h4 id="mdo">@mdo</h4>
  <p>node-sass supports standard node style asynchronous callbacks with the signature of function(err, result). In error conditions, the error argument is populated with the error object. In success conditions, the result object is populated with an object describing the result of the render call.</p>
  <h4 id="one">one</h4>
  <p>outputStyle
Type: String
Default: nested
Values: nested, expanded, compact, compressed
Determines the output format of the final CSS style.

precision
Type: Integer
Default: 5
Used to determine how many digits after the decimal will be allowed. For instance, if you had a decimal number of 1.23456789 and a precision of 5, the result will be 1.23457 in the final CSS.

sourceComments
Type: Boolean
Default: false
true Enables the line number and file where a selector is defined to be emitted into the compiled CSS as a comment. Useful for debugging, especially when using imports and mixins.

sourceMap
Type: Boolean | String | undefined
Default: undefined
Enables source map generation during render and renderSync.

When sourceMap === true, the value of outFile is used as the target output location for the source map with the suffix .map appended. If no outFile is set, sourceMap parameter is ignored.

When typeof sourceMap === "string", the value of sourceMap will be used as the writing location for the file.

sourceMapContents
Type: Boolean
Default: false
true includes the contents in the source map information

sourceMapEmbed
Type: Boolean
Default: false
true embeds the source map as a data URI

sourceMapRoot
Type: String
Default: undefined
the value will be emitted as sourceRoot in the source map information</p>
  <h4 id="two">two</h4>
  <p>outputStyle
Type: String
Default: nested
Values: nested, expanded, compact, compressed
Determines the output format of the final CSS style.

precision
Type: Integer
Default: 5
Used to determine how many digits after the decimal will be allowed. For instance, if you had a decimal number of 1.23456789 and a precision of 5, the result will be 1.23457 in the final CSS.

sourceComments
Type: Boolean
Default: false
true Enables the line number and file where a selector is defined to be emitted into the compiled CSS as a comment. Useful for debugging, especially when using imports and mixins.

sourceMap
Type: Boolean | String | undefined
Default: undefined
Enables source map generation during render and renderSync.

When sourceMap === true, the value of outFile is used as the target output location for the source map with the suffix .map appended. If no outFile is set, sourceMap parameter is ignored.

When typeof sourceMap === "string", the value of sourceMap will be used as the writing location for the file.

sourceMapContents
Type: Boolean
Default: false
true includes the contents in the source map information

sourceMapEmbed
Type: Boolean
Default: false
true embeds the source map as a data URI

sourceMapRoot
Type: String
Default: undefined
the value will be emitted as sourceRoot in the source map information</p>
  <h4 id="three">three</h4>
  <p>outputStyle
Type: String
Default: nested
Values: nested, expanded, compact, compressed
Determines the output format of the final CSS style.

precision
Type: Integer
Default: 5
Used to determine how many digits after the decimal will be allowed. For instance, if you had a decimal number of 1.23456789 and a precision of 5, the result will be 1.23457 in the final CSS.

sourceComments
Type: Boolean
Default: false
true Enables the line number and file where a selector is defined to be emitted into the compiled CSS as a comment. Useful for debugging, especially when using imports and mixins.

sourceMap
Type: Boolean | String | undefined
Default: undefined
Enables source map generation during render and renderSync.

When sourceMap === true, the value of outFile is used as the target output location for the source map with the suffix .map appended. If no outFile is set, sourceMap parameter is ignored.

When typeof sourceMap === "string", the value of sourceMap will be used as the writing location for the file.

sourceMapContents
Type: Boolean
Default: false
true includes the contents in the source map information

sourceMapEmbed
Type: Boolean
Default: false
true embeds the source map as a data URI

sourceMapRoot
Type: String
Default: undefined
the value will be emitted as sourceRoot in the source map information</p>
</div> --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Anime Cinema</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container mt-5">
	<h1>Cập nhật mới</h1>
	<ul class="list-group mt-4">
		<li class="list-group-item active">Hành trình của những chú khủng long - phần 3</li>
		<li class="list-group-item">Tập mới đã được công chiếu và nhận được nhiều phản hồi tích cực từ người xem.</li>
		<li class="list-group-item active">Attack on Titan - phần 4</li>
		<li class="list-group-item">Trailer mới của phần 4 đã được phát hành và thu hút sự chú ý của cộng đồng anime.</li>
		<li class="list-group-item active">Demon Slayer - Mugen Train</li>
		<li class="list-group-item">Phim sẽ được công chiếu vào ngày 16/10/2020 tại các rạp trên toàn quốc.</li>
	</ul>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
