<div class="row mt-5">
    <h1 class="mt-5 m-auto">Conditions for Exchange and Refund</h1>

    <p class="my-3">At Anime Cinema, we want our customers to have a hassle-free experience when it comes to exchanging
        or refunding their movie tickets. Please note the following conditions:</p>

    <ul class="list-group">
        <li class="list-group-item">Exchange and refund requests must be made at least one hour before the movie's start
            time.</li>
        <li class="list-group-item">Tickets can only be exchanged or refunded at the theatre's box office.</li>
        <li class="list-group-item">Ticket exchanges can only be made for the same movie, but a different showtime.</li>
        <li class="list-group-item">Tickets can only be refunded if the showtime is cancelled or if there is a technical
            error during the movie.</li>
        <li class="list-group-item">Tickets purchased through third-party websites or vendors are not eligible for
            exchange or refund.</li>
    </ul>
</div>