<div class="row mt-4 d-flex flex-column">
    <h2 class="mt-4 m-auto">Privacy Policy</h2>
    <p class="m-auto"><strong>Anime Cinema is committed to fully protecting user privacy.</strong></p>

    <h3>Collect information</h3>

    <p>We will collect your personal information when you register or use our services. Fish information
        include name, email address, phone number...</p>

    <h3>Use information</h3>

    <p>Your personal information will be used to provide services or products and to contact you as needed
        If necessary, we will not share your information with third parties other than as required by law.</p>
    
    <h3>Details </h3>

    <p>We will update this privacy policy from time to time to ensure its effectiveness. If you have any
        Any questions regarding our privacy policy, please contact us.</p>
</div>