<div class="container">
    <div class="row mt-4 ">
        <h2 class="m-auto mt-4">Terms and Uses</h2>
        <p class="mt-4">
            1. Welcome to Anime Cinema! Please read the terms and conditions of use of this website carefully
            before you use the services available on the site.
        </p>
        <p>
            2. The products and services offered by Anime Cinema are intended for use by users of full age only. In case
            we detect that the user is underage, we will delete the account immediately and refuse to provide
            service level.
        </p>
        <p>3. All user's personal information will be protected by the privacy policy
            secret.
        </p>
        <p> 4. It is the user's responsibility to update and ensure that the login information registered on the site
            web Anime
            Cinema is accurate and complete.
        </p>
        <p> 5. Users must comply with the regulations and laws related to the use of the services
            on the Web.
        </p>
        <p>6. Users are not allowed to use any software, tools or devices to infiltrate
            or control
            webpage.</p>
        <p> 7. Any abuse or interference with Anime Cinema's systems will not be tolerated
            and maybe
            legal consequences.
        </p>
        <p> 8. Anime Cinema reserves the right to change, modify or add any new terms or conditions
            in the site
            without prior notice to the user.
        </p>
        <p> 9. Anime Cinema website is updated and maintained regularly to ensure quality and accuracy
            trust. But
            In the event that the website does not function properly, we will not be responsible for problems, loss
            cool or damage caused by it.
        </p>
        <p>10. Anime Cinema website uses Bootstrap framework to create an intuitive, attractive and
            Easy to use.
            By using this website, you agree to the use of Bootstrap and its terms and conditions
            attached.
        </p>
        <p> Thank you for choosing Anime Cinema as the address to watch your movies. We hope you will
            there are
            Great experience visiting our website!</p>
    </div>
</div>